.card {
  position: relative;
  width: 19%;
  height: auto;
  color: #C2CFE0;
  margin: 0 0 10px;
  border: 1px solid #d3d3d3;
  transition: ease-in 0.35s;
  &:hover {
    box-shadow: 3px 3px 12px 2px #d3d3d34f;
    transform: translateY(-10px);
    background-color: #005D7A;
  }
  // &:hover &__overlay {
  //   display: flex;
  // }
  &__link {
    text-decoration: none;
    color: #C2CFE0;
  }
  &__img {
    width: 100%;
    & img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    font-size: 0.8rem;
  }
  &__category {
    text-transform: uppercase;
  }
  &__content {
    padding: 15px 10px;
   //box-shadow: 1px 1px 12px 2px #d3d3d34f;
   //border: 1px solid #d3d3d3;
   border-top: none;
   height: auto;
  }
  &__title {
    margin-top: 5px;
  }
  // &__overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: none;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #C2CFE0cc;
  //   transition: ease-in .5s;
  // }
}


@media screen and (max-width: 1024px) {
  .card {
    width: 23%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 47.5%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}
