.header {
  &__title {
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #E29E21;
    background-color: #2B4965;
    letter-spacing: 0.2rem;
    //  box-shadow: 0 8px 6px -6px #fff;
  }
}
